# gradle
.gradle/
build/

# mwe2
xtend-gen/
xtext-gen/
java-gen/
src-gen/
src-gen/

# antlr
.antlr-generator-*.jar

# eclipse
bin/
.settings/
.classpath
.project
build.properties
plugin.*
.launch/
META-INF/
hs_err*.log

# testeditor itself
testeditor.log
logs/